 html
 {
 	cursor: url("mouse.png"), auto;
 }

 body
 {
 	background-image: url("bg.png");
 	background-size: 1524px 950px;
 }

 .button
 {
  background-image: url("button.png");
 	height: 200px;
 	width: 200px;
 	background-size: 100%;

  border:1px;
  border-radius: 50%;
  box-shadow: 0 5px #000000;

  font-size: 50px;
  color: #6666ff;
  text-align: center;
  line-height:380%;

  padding: 20px;
  margin: 20px;
  margin-left: 100px;

  transition:transform 1s;
  transform:rotate(-360deg);
 }

.button1:hover 
{
	background-image: url("button1.png"); 
  color: white;
  transform:rotate(360deg);
}


.button1:active
{
  background-image: url("button1.png"); 
  box-shadow: 0 1px #666;

  transition-duration: 0.01s;
  transform: translateY(10px);
  
}

.button2:hover 
{
  background-image: url("button2.png"); 
  color: white;
  transform:rotate(360deg);
}


.button2:active
{
  background-image: url("button2.png"); 
  box-shadow: 0 1px #666;

  transition-duration: 0.01s;
  transform: translateY(10px);
}

.button3:hover 
{
  background-image: url("button3.png"); 
  color: white;
  transform:rotate(360deg);
}


.button3:active
{
  background-image: url("button3.png"); 
  box-shadow: 0 1px #666;
  
  transition-duration: 0.01s;
  transform: translateY(10px);
}
.button1:hover 
{
  background-image: url("button1.png"); 
  color: white;
  transform:rotate(360deg);

}


.button1:active
{
  background-image: url("button1.png"); 
  box-shadow: 0 1px #666;

  transition-duration: 0.01s;
  transform: translateY(10px);
  
}

.button2:hover 
{
  background-image: url("button2.png"); 
  color: white;
  transform:rotate(360deg);
}


.button2:active
{
  background-image: url("button2.png"); 
  box-shadow: 0 1px #666;

  transition-duration: 0.01s;
  transform: translateY(10px);
}

.button3:hover 
{
  background-image: url("button3.png"); 
  color: white;
  transform:rotate(360deg);
}


.button3:active
{
  background-image: url("button3.png"); 
  box-shadow: 0 1px #666;
  
  transition-duration: 0.01s;
  transform: translateY(10px);
}

canvas
{
  position: absolute;
  left: 400px;
  background: black;
  border-radius: 25px;
  border:1px solid black;
  box-shadow: 0px 0px 20px white;

}

.buttonDef {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    /*text-decoration: none;*/
    display: inline-block;
    font-size: 16px;

    transition-duration: 0.4s;
    border-radius: 15px;
    box-shadow: 0 9px #000000;

    cursor: url("mouse.png"), auto;

}

.button1Def {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;

    position: absolute;
    left: 400px;
}

.button1Def:hover {
    background-color: #4CAF50;
    color: white;
}

.buttonDef:active {
  /*background-color: #4CAF50;*/
  box-shadow: 0 5px #666;
  transform: translateY(4px);
  transition-duration: 0.01s;
}

.button2Def {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;

    position: absolute;
    left: 600px;
}

.button2Def:hover {
    background-color: #008CBA;
    color: white;
}

.button3Def {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;

    position: absolute;
    left: 800px;
}

.button3Def:hover {
    background-color: #f44336;
    color: white;
}

.button4Def {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;

    position: absolute;
    left: 1000px;
}

.button4Def:hover {background-color: #e7e7e7;}

.button5Def {
    background-color: white;
    color: black;
    border: 2px solid #555555;

    position: absolute;
    left: 1200px;
}

.button5Def:hover {
    background-color: #555555;
    color: white;


}
